spring:
  application:
    name: ingestion-service
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  # Kafka
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  threads:
    virtual:
      enabled: true

  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:27017/ingestion-db}
    elasticsearch:
      uris: ${SPRING_ELASTICSEARCH_URIS:http://localhost:9200}

  # Spring AI — OpenAI (embedding model)
  ai:
    openai:
      api-key: ${SPRING_AI_OPENAI_API_KEY:dummy_key_for_tei}
      base-url: ${SPRING_AI_OPENAI_BASE_URL:http://localhost:8080}
      embedding:
        options:
          model: ${SPRING_AI_OPENAI_EMBEDDING_OPTIONS_MODEL:nomic-ai/nomic-embed-text-v1.5}

    # Spring AI — MongoDB vector store
    vectorstore:
      mongodb:
        collection-name: ${SPRING_AI_VECTORSTORE_MONGODB_COLLECTION_NAME:documents}
        path-name: ${SPRING_AI_VECTORSTORE_MONGODB_PATH_NAME:embedding}
        index-name: ${SPRING_AI_VECTORSTORE_MONGODB_INDEX_NAME:vector_index}


server:
  port: 8085

app:
  chunking:
    size: ${CHUNK_SIZE:800}
    overlap: ${CHUNK_OVERLAP:100}
